// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
}

.articles-table {
  width: 100%;
  text-align: center;

  td {
    padding: 10px 0;

    &.text {
      width: 500px;
    }
  }
}

.articles-table,
th,
td {
  border: 1px solid black;
}